{% extends 'base.html' %}

{% block title %}Ask a Question{% endblock %}

{% block content %}

<h2>Ask a Question</h2>


<form method="post">

{% csrf_token %}

<div class="mb-3">

{{ form.file_id.label_tag }}

{{ form.file_id }}

</div>

<div class="mb-3">

{{ form.question.label_tag }}

{{ form.question }}

</div>

<button type="submit" class="btn btn-success">Get Answer</button>

</form>



{% if answer %}

<hr>

<h5><strong>Answer:</strong></h5>

<p>{{ answer }}</p>

{% endif %}

{% endblock %}